<nav class="navbar">
  <div>
    <span class="logo"><a href="/">QuizCord</a></span>
    <ul>
      <li><a href="/users">Users</a></li>
      <li><a href="/teams">Teams</a></li>
      <li><a href="/histoy">History</a></li>
    </ul>
  </div>
</nav>
