<div class="top-nav">
  <% if(session.user_id) { %>
  <a href="#">Signed in as: <%=session.username %></a>
  <% }else{ %>
  <a href="/login" class="">Log in</a>
  <% } %>
</div>
<nav class="navbar">
  <div>
    <span class="logo"><a href="/">QuizCord</a> </span>
    <ul class="nav-links">
      <li><a href="/players">Players</a></li>
      <li><a href="/teams">Teams</a></li>
      <li><a href="/statistics">Statistics</a></li>
      <li><a href="/history">History</a></li>
      <% if(session.user_id) { %>
      <li><a href="/admin">Admin</a></li>
      <% } %>
    </ul>
  </div>
</nav>
