<%layout('layouts/boilerplate')%>

<h2>History</h2>
<a href="/">← Back home</a>
<section class="top">
  <h1>The log of life!</h1>

  <button class="btn btn-primary">Primary button</button>
</section>

<div class="wrapper">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint explicabo
    nostrum dignissimos saepe quam. Voluptas explicabo recusandae similique,
    facere enim voluptate autem aut ad illo ea corporis minima nihil rem!
  </p>
</div>
