<%layout('layouts/boilerplate')%>

<h2>Log in</h2>
<a href="/">â† Back home</a>
<section class="top">
  <h2>Log in</h2>
  <form action="/login" , method="POST">
    <div>
      <label for="username">Enter username</label>
      <input type="text" name="username" id="username" placeholder="Username" />
    </div>
    <div>
      <label for="password">Enter password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
      />
    </div>
    <button class="btn btn-primary">Log in</button>
  </form>
  <a href="/register">Don't have a user? Sign up here</a>
</section>
