<%layout('layouts/boilerplate')%>

<h1>Category</h1>
<%for (let product of products){%>
<ul>
  <li><%=product.name%></li>
  <li><%=product.price%></li>
  <li>
    <a href="/categories/<%=product.category%>"><%=product.category%></a>
  </li>
</ul>
<%}%>

<a href="/categories">Show all categories</a>
<a href="/products">Show all products</a>
