:root {
  --primary: #ffffff;
  /*--secondary: #fcfbfc;*/
  --secondary: #0d0d10;
  --soft-white: #e6e6e6;
  --soft-gray: #a9aab3;
  --primary-gray: #242428;
  --tint: #27272b;
  --border-color: #1a1a1e;
  --dark-gray: #0e0e12;
  --warning: #dba842;
  --danger: #db4245;
  --success: #42db7f;
  --small-screen: 767px;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span {
  color: var(--primary);
}

body {
  color: var(--primary);
}

a {
  text-decoration: none;
  font-weight: 500;
}
a:hover {
}

.link {
  border-bottom: 2px solid var(--primary);
  padding-bottom: 2px;
}

.nav-links {
  margin-top: 10px;
}

.nav-links a:hover {
  border-bottom: 2px solid var(--primary);
  padding-bottom: 2px;
}

.logo:hover {
  text-decoration: underline;
}

html {
}

body {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  font-family: "Barlow Semi Condensed", sans-serif;
  justify-content: center;
}

h1,
h2,
h3 {
  font-weight: 500;
}

.headline {
  font-size: 3rem;
  color: var(--soft-white);
  font-weight: 600;
}

.container {
  width: 1200px;
  min-width: 200px;
  align-content: center;
}

.box {
  min-height: 100svh;
}

.navbar li {
  display: inline-block;
  margin-left: 10px;
}

.navbar {
  text-align: right;
  position: relative;
  height: 50px;
}

.top-nav {
  font-size: 0.8rem;
  width: 100%;
  text-align: right;
}

.logo {
  position: absolute;
  left: 0;
  top: -10px;
  font-size: 2rem;
}

.footer {
  margin-top: 50px;
  height: 150px;
  justify-content: center;
  display: flex;
}

.footer span {
  margin-top: 25px;
}

.hero {
  height: 350px;
  width: 100%;
  background-image: radial-gradient(#ffffff, 1px, transparent 0);
  background-size: 6px 6px;
  background-position: -19px -19px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
}

.hero h1 {
  color: var(--secondary);
  font-size: 14rem;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0f0e0e0f; */
}

/* STATISTICS */

.hide {
  display: none;
}

.show {
  display: block;
}

.player {
  width: 50%;
}

@media (max-width: 767px) {
  .player {
    width: 90%;
  }

  .hero h1 {
    font-size: 7rem;
  }
}

.spacer {
  height: 40px;
}

.wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1px;
  align-content: flex-start;
  gap: 20px;
}

.center-wrap {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1px;

  align-content: center;
  gap: 20px;
}

.edit-icon {
  text-align: right;
  margin-right: 10px;
  color: var(--primary);
}

.top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 200px;
  align-items: center;
}

.top input {
  margin-top: 20px;
  width: 300px;
}

.edit-form {
  width: 40%;
}

.score-form input {
}

.score-form button {
}

@media (max-width: 767px) {
  .edit-form {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .score-form {
    width: 80%;
  }
}

.gender-select {
  width: 100%;
  border: 2px solid var(--primary);
  outline: none;
  appearance: none;
  margin-top: 5px;
}

.form button,
.form input {
  box-sizing: border-box;
}

.form button {
  margin-top: 30px;
  width: 100%;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
}

.form label {
}

/* ******** */
/* ELEMENTS */
/* ******** */

.btn {
  background-color: var(--primary-gray);
  color: var(--primary);
  border-radius: 25px;
  padding: 12px 25px;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.btn:active {
  /* box-shadow: 0px 0px 0px black;
  transform: translate(0px, 0px); /* Flytt knappen  */
  /* transition: transform 0.1s, box-shadow 0.1s; */
}

.btn-warning {
  /* background-color: #f0c1c1; */
  border: 0px;
  color: var(--warning);
  background-color: var(--secondary);
}

.btn-danger {
  /* background-color: #f0c1c1; */
  border: 0px;
  color: var(--danger);
  background-color: var(--secondary);
}

.btn-danger:hover {
  border-bottom: 2px solid var(--danger);
  padding-bottom: 2px;
  cursor: pointer;
}

.btn-warning:hover {
  border-bottom: 2px solid var(--warning);
  padding-bottom: 2px;
  cursor: pointer;
}
.btn-save {
  background-color: var(--success);
}

input {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: var(--soft-white);
}

input:focus {
  border-bottom: 3px solid var(--primary);
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="color"] {
  height: 50px;
}

select {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: var(--soft-white);
  width: 100%;
}

.card {
  background-color: var(--secondary);
  border: 1px solid var(--primary-gray);
  width: 80%;
  border-radius: 25px;
  padding: 20px;
}

.card-half {
  width: 40%;
}

.card:hover {
  background-color: var(--tint);
}

.card h4,
.card p {
  padding: 0px;
  margin: 0px;
}

.hide {
  display: none;
}

.event_image {
  width: 100%;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: auto;
  border-radius: 25px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  border-radius: 25px;
}
th {
  background-color: var(--secondary);
  border-radius: 25px;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.category-select :last-child {
  border-bottom: none;
}

.category-select h3 {
  text-decoration: underline;
  padding: 15px 80px;
  margin: 0;
  cursor: pointer;
}

.category-select h3 {
  color: var(--primary);
  background-color: var(--secondary);
  border-bottom: 2px solid var(--primary);
}

.category-select h3:hover {
  background-color: var(--primary);
  color: var(--secondary);
  transition: color 0.3s ease; /* Jevn overgang */
}

.selected {
  background-color: var(--primary) !important;
  color: var(--secondary) !important;
}

.selected h2,
.selected p {
  color: var(--secondary);
}

.point-select {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.point-select-item h2,
.point-select-item p {
  padding: 0px;
  margin: 0px;
}

.point-select-item {
  border: 1px solid var(--primary);
  border-radius: 15px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  cursor: pointer;
}

.point-select-item:hover {
  background-color: var(--primary);
}

.point-select-item:hover h2,
.point-select-item:hover p {
  color: var(--secondary);
  transition: color 0.3s ease; /* Jevn overgang */
}

.switch {
  margin-top: 10px;
}

.flex-grid {
  display: flex;
  justify-content: space-between;
}
.col {
  flex: 1;
  background-color: var(--secondary);
  border: 1px solid var(--primary-gray);
  border-radius: 15px;
  margin: 15px;
  overflow: hidden;
}

.col-clean {
  border: none;
}

@media (max-width: 650px) {
  .flex-grid {
    display: block;
  }
}

.flex-grid-three,
.flex-grid-two {
  display: flex;
  justify-content: space-between;
}

.flex-grid-three .col {
  width: 32%;
}
.flex-grid-two .com {
  width: 50%;
}

.inner {
  padding: 20px;
}

table tr td {
  font-size: 0.8rem;
}

table th {
  font-size: 0.9rem;
  font-weight: 200;
  background-color: var(--primary-gray);
  border-radius: 0%;
}

.table-large {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--primary);
  font-weight: 200;
}

.progress {
  width: 100%;
  height: 20px;
  border-radius: 15px;
  border: 2px solid var(--primary-gray);
}

#progressBar {
  border-radius: 25px;
  background-color: var(--success);
  height: 100%;
  width: 0%;
  transition: width 0.5s ease-in-out; /* Smooth overgang */
}

/* HERO ANIMATION */
