:root {
  --primary-color: #0f0e0e;
  --secondry-color: #fcfbfc;
  --small-screen: 767px;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span {
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.link {
  text-decoration: underline;
}

html {
}

body {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  font-family: "Barlow Semi Condensed", sans-serif;
  justify-content: center;
}

h1 {
  font-weight: 600;
}

.container {
  width: 1200px;
  min-width: 200px;
  align-content: center;
  padding: 20px;
}

.box {
  min-height: 100svh;
}

.navbar li {
  display: inline-block;
  margin-left: 10px;
}

.navbar {
  text-align: right;
}

.logo {
}

.footer {
  height: 150px;
  margin-top: -175px;
  justify-content: center;
  display: flex;
}

.footer span {
  margin-top: 25px;
}

.user {
  width: 50%;
}

@media (max-width: 767px) {
  .user {
    width: 90%;
  }
}
