<%layout('layouts/boilerplate')%>

<h2>All users</h2>
<a href="/">â† Back home</a>
<div class="spacer"></div>
<section class="top">
  <h1>Strengthen the horde!</h1>
  <form action="/users" method="POST">
    <input
      type="text"
      placeholder="Name"
      autofocus
      required
      name="user[name]"
    />
    <button class="btn btn-primary">Add user</button>
  </form>
</section>

<div class="wrapper">
  <% for(let user of users){ %>

  <div class="card">
    <div class="card-title">
      <p class="user"><%=user.name%></p>
    </div>
    <div class="card-body">
      <ul>
        <li>Age: <%=user.age%></li>
        <li>Gender: <%=user.gender%></li>
      </ul>
      <a href="/users/<%=user.id%>"><p class="edit-icon">edit</p></a>
    </div>
  </div>
  <%}%>
</div>
