<% layout('layouts/boilerplate') %>

<h2>All Statistics</h2>
<a href="/">← Back home</a>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint explicabo
  nostrum dignissimos saepe quam. Voluptas explicabo recusandae similique,
  facere enim voluptate autem aut ad illo ea corporis minima nihil rem! lorem
</p>

<div class="flex-grid">
  <div class="col"></div>
</div>

<div class="flex-grid">
  <div class="col">
    <div>
      <canvas id="myBar"></canvas>
    </div>
  </div>
  <div class="col">This little piggy had roast beef.</div>
</div>
<div class="flex-grid-three">
  <div class="col">.</div>
  <div class="col">.</div>
  <div class="col">.</div>
</div>

<div class="flex-grid-two">
  <div class="col">.</div>
  <div class="col">.</div>
</div>
<div class="flex-grid">
  <div class="col">.</div>
  <div class="col">.</div>

  <div class="col">.</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  // Hent data fra EJS-variabler

  const ctx = document.getElementById("myBar");

  new Chart(ctx, {
    type: "bar",
    data: {
      labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
      datasets: [
        {
          label: "# of Votes",
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1,
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });
</script>

<div class="wrapper">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint explicabo
    nostrum dignissimos saepe quam. Voluptas explicabo recusandae similique,
    facere enim voluptate autem aut ad illo ea corporis minima nihil rem!
  </p>
</div>
